@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var test_name = "test";
    var age = 110;
}

<h1>@test_name Study Controller - CSharp 페이지11</h1>
<h1>@test_name hello.</h1>

@if (age == 10)
{
    <h2>@test_name is @age years dld</h2>
}
else
{
    <h2>@test_name is ?? years old</h2>
}