
@{
    ViewData["Title"] = "Add";
}
@*@model AspnetCoreStudy.Models.Member*@

<h2>신규 사용자</h2>


<form class="form-horizontal" method="post" asp-controller="User" asp-action="AddUserInfo">
    <div class="form_group">
        <label>이름</label>
        <input type="text" class="form-control" name="name" placeholder="이름" />
    </div>
    <div class="form_group">
        <label>나이</label>
        <input type="text" class="form-control number_text" name="age" placeholder="나이" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">추가</button>
        <a class="btn btn-warning" href="javascript:window.history.back();">취소</a>
    </div>
</form>

<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        // 숫자만
        $(".number_text").on("keyup", function () {
            $(this).val($(this).val().replace(/[^0-9]/g, ""));
        });
    });

</script>